.mobile-nav-wrapper{
	display: none;
	padding: 30px;
	z-index: 9;

	background-color: var(--footer-bg);
	color: var(--footer-text-color);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 320px;

	a {
		color: var(--footer-text-color);
		transition: color .2s ease;
		&:hover{
			color: #fff;
		}
	}

	&--open{
		display: block;
	}
	// @include tablet(){
	// 	display: block;
	// }
}

.mobile-nav-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	padding-bottom: 20px;
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
	margin-bottom: 20px;
}

.mobile-cart{
	flex-grow: 1;

	display: flex;
	gap: 20px;
	align-items: center;

	font-size: 22px;
	font-weight: 700;

	padding-right: 1px;
	border-right: 1px solid rgba($color: #fff, $alpha: 0.2);

}


.mobile-nav {
	display: grid;
	gap: 20px;
	font-size: 20px;
}
.mobile-nav__item {

}
.mobile-nav__link {

}
.mobile-nav__link--dropdown {

}
.mobile-sub-nav {
	padding: 20px 0 0 20px;
	display: grid;
	gap: 14px;
	font-size: 16px;
}
.mobile-sub-nav__item {
}
.mobile-sub-nav__link {
}